.container{
  width:100vw;
}
#from-to{
  text-align: center;
  color:white;
  height:10vh;
  font-size: 4vh;
}
#from-to,#from,#to{
  background-color: #3d84d5;
}
#from,#to{
  height:100%;
  font-size: 5vh;
  color:white;
  border:0;
}
textarea{
  background-color: #35a6fd;
  color:white;
  height:45vh;
  font-size: 8vw;
  padding:20px 10px;
  width:100vw;
  font-weight: bold;
  border-radius:0;
  border: 0;
}
textarea::-webkit-input-placeholder{
  color:#8bccff;
}
#btn{
  background-color: white;
  color:#35a6ff;
  border:0;
  box-shadow:0 4px 30px;
  width:30vw;
  height:30vw;
  border-radius:50%;
  transform:translate(60vw,-20vw);
  font-size: 7vw;
}
#result{
  color:#35a6ff;
  margin-top:-58px;
  font-size: 7vw;
  width:100vw;
  padding:0 10px;
  height:45vh;
}
footer{
  font-size: 6vw;
  text-align: center;
  color:#3d84d5;
}